pipeline/PL_STG_Load_CDC.json
{
	"name": "PL_STG_Load_CDC",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM stg.etlControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_MetadataTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * FROM [',\n    item().TableName,\n    '] WHERE CreatedOn > ''',\n    item().LastLoadTime,\n    ''' OR UpdatedOn > ''',\n    item().LastLoadTime,\n    ''''\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OnPremSQLTable",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureSQLTable",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"SchemaName": "stg"
									}
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE stg.etlControl\nSET LastLoadTime = GETUTCDATE()\nWHERE TableName = '@{item().TableName}'\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Load Sp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[RevenueReport_Get]",
						"storedProcedureParameters": {
							"DefaultCurrencyId": {
								"type": "Int32",
								"value": "1"
							},
							"LanguageId": {
								"type": "Int32",
								"value": "1"
							},
							"UserId": {
								"type": "Int32",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF OBJECT_ID('stg.spPolicy', 'U') IS NOT NULL\n    TRUNCATE TABLE stg.TransactionSLA;\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ClientName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ClientName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EGlobalCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EGlobalCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CategoryName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CategoryName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolicyId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PolicyId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PolicyName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PolicyName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolicyNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PolicyNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolicyTypeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PolicyTypeId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Carrier",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Carrier",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PlanId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PlanId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Premium",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Premium",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 38
								},
								"sink": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Fee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 14,
									"precision": 28
								},
								"sink": {
									"name": "Fee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 14,
									"precision": 28
								}
							},
							{
								"source": {
									"name": "ClientFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "ClientFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "MembersCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MembersCount",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ActiveMembers",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ActiveMembers",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ActiveEmployes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ActiveEmployes",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DeletedEmployes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DeletedEmployes",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TotalBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								},
								"sink": {
									"name": "TotalBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ClientSince",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ClientSince",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CarrierBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 20
								},
								"sink": {
									"name": "CarrierBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "PolicyStartDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PolicyStartDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PolicyEndDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PolicyEndDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CommissionPercent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								},
								"sink": {
									"name": "CommissionPercent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "BaseCurrency",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseCurrency",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BaseCurrencyName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BaseCurrencyName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MainAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MainAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SecondaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SecondaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TertiaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TertiaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolcyStateTypeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PolcyStateTypeId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SP_OnPremSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQLTable",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "spPolicy",
							"SchemaName": "stg"
						}
					}
				]
			},
			{
				"name": "Transaction SLA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Load Sp",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "DECLARE \r\n    @responsibleSysRole   INT         = NULL,        -- pass in the user’s role or NULL\r\n    @todaysDate           DATETIME    = GETDATE(),   -- or pass in your “today’s Date”\r\n    @DefaultFirstFollowUp INT         = 4,          \r\n    @DefaultSecondFollowUp INT        = 6,          \r\n    @HRRoleValue          INT         = 2,           \r\n    @BrokerRoleValue      INT         = 3;           \r\n\r\nSELECT\r\n    wf.WorkflowId,\r\n    wf.SubmittedOn,\r\n    wf.CompletedOn,\r\n    COALESCE(psla.FirstFollowUp,\r\n             csla.FirstFollowUp,\r\n             @DefaultFirstFollowUp)   AS SLAFirstFollowUp,\r\n    COALESCE(psla.SecondFollowUp,\r\n             csla.SecondFollowUp,\r\n             @DefaultSecondFollowUp)  AS SLASecondFollowUp,\r\n    dbo.GetLastResubmissionTat(\r\n        wf.CompletedOn,\r\n        wf.UpdatedOn,\r\n        client.OfficeLocationId,\r\n        wf.WorkflowTypeId,\r\n        wf.WorkflowStatusId,\r\n        wf.LastResubmissionTAT,\r\n        wf.LastResubmissionDate,\r\n        wf.TAT,\r\n        @todaysDate\r\n    )                      AS Tat,\r\n    wf.WorkflowStatusId,\r\n    wf.WorkflowTypeId,\r\n    wf.PendingActionRoleId,\r\n CASE \r\n  WHEN dbo.GetLastResubmissionTat(\r\n     wf.CompletedOn, wf.UpdatedOn, client.OfficeLocationId,\r\n     wf.WorkflowTypeId, wf.WorkflowStatusId,\r\n     wf.LastResubmissionTAT, wf.LastResubmissionDate,\r\n     wf.TAT, @todaysDate\r\n    ) > COALESCE(psla.FirstFollowUp, csla.FirstFollowUp, @DefaultFirstFollowUp)\r\n  THEN \r\n   CASE WHEN\r\n    dbo.GetLastResubmissionTat(\r\n     wf.CompletedOn, wf.UpdatedOn, client.OfficeLocationId,\r\n     wf.WorkflowTypeId, wf.WorkflowStatusId,\r\n     wf.LastResubmissionTAT, wf.LastResubmissionDate,\r\n     wf.TAT, @todaysDate\r\n    ) > COALESCE(psla.SecondFollowUp, csla.SecondFollowUp, @DefaultSecondFollowUp) \r\n    THEN 'Red'\r\n    ELSE 'Yellow'\r\n    END\r\n  ELSE 'Green'\r\n END AS SLAColor,\r\n CASE \r\n  WHEN dbo.GetLastResubmissionTat(\r\n     wf.CompletedOn, wf.UpdatedOn, client.OfficeLocationId,\r\n     wf.WorkflowTypeId, wf.WorkflowStatusId,\r\n     wf.LastResubmissionTAT, wf.LastResubmissionDate,\r\n     wf.TAT, @todaysDate\r\n    ) > COALESCE(psla.SecondFollowUp, csla.SecondFollowUp, @DefaultSecondFollowUp)\r\n  THEN 0  \r\n  ELSE 1\r\n END AS IsTransactionSLA\r\nFROM dbo.Policy AS policy\r\nINNER JOIN dbo.PolicyCategory      AS policyCategory\r\n    ON policy.PolicyId = policyCategory.PolicyId\r\n   AND policyCategory.IsDeleted = 0\r\nINNER JOIN dbo.MemberPolicyCategory AS memberPolicyCategory\r\n    ON policyCategory.PolicyCategoryId = memberPolicyCategory.PolicyCategoryId\r\nINNER JOIN dbo.Category            AS category\r\n    ON policyCategory.CategoryId = category.CategoryId\r\n   AND category.IsDeleted = 0\r\nINNER JOIN dbo.Member               AS member\r\n    ON memberPolicyCategory.MemberId = member.MemberId\r\n   AND member.IsDeleted = 0\r\nINNER JOIN dbo.WorkflowMember    AS workflowMember\r\n    ON memberPolicyCategory.MemberPolicyCategoryId = workflowMember.MemberPolicyCategoryId\r\nINNER JOIN dbo.Workflow             AS wf\r\n    ON workflowMember.WorkflowId = wf.WorkflowId\r\n   AND wf.IsCompleted = 0\r\nLEFT JOIN dbo.PolicySLA             AS psla\r\n    ON psla.PolicyId = policy.PolicyId\r\n   AND psla.SLAProcessTypeId = wf.WorkflowTypeId\r\nLEFT JOIN dbo.CarrierSLA            AS csla\r\n    ON csla.CarrierId = policy.CarrierId\r\n   AND csla.SLAProcessTypeId = wf.WorkflowTypeId\r\nINNER JOIN dbo.Client               AS client\r\n    ON policy.ClientId = client.ClientId\r\nWHERE\r\n    policy.IsDeleted = 0\r\n    AND (\r\n         dbo.IsBluePendingTask(wf.WorkflowTypeId, wf.WorkflowStatusId) = 1\r\n      OR @responsibleSysRole IS NULL\r\n      OR (\r\n           @responsibleSysRole IS NOT NULL\r\n       AND wf.PendingActionRoleId IS NOT NULL\r\n       AND (\r\n             (\r\n               @responsibleSysRole = @HRRoleValue\r\n           AND (wf.PendingActionRoleId = @HRRoleValue\r\n             OR wf.PendingActionRoleId = @BrokerRoleValue)\r\n             )\r\n           OR wf.PendingActionRoleId = @responsibleSysRole\r\n          )\r\n      )\r\n    )\r\n\tORDER By WorkflowId;\r\n\r\n ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "IF OBJECT_ID('dbo.TransactionSLA', 'U') IS NOT NULL\n    TRUNCATE TABLE dbo.TransactionSLA;\n",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SP_OnPremSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQLTable",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "TransactionSLA",
							"SchemaName": "dbo"
						}
					}
				]
			},
			{
				"name": "Claim SLA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Transaction SLA",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "DECLARE \r\n    @DefaultFirstFollowUp INT = 4,\r\n    @DefaultSecondFollowUp INT = 6,\r\n    @DefaultBrokerReviewFollowUp INT = 5, \r\n    @TodayDate DATETIME = GETDATE();\r\n\r\nSELECT \r\n    mc.MedicalClaimId,\r\n    mc.DateReceived,\r\n    \r\n    COALESCE(settlpsla.FirstFollowUp, settlcsla.FirstFollowUp, @DefaultFirstFollowUp) AS SettlementSlaFirstFollowUp,\r\n    COALESCE(settlpsla.SecondFollowUp, settlcsla.SecondFollowUp, @DefaultSecondFollowUp) AS SettlementSlaSecondFollowUp,\r\n    dbo.GetTat(\r\n        ISNULL(mc.ResubmissionDate, mc.DateSubmitted),\r\n        mc.SettlementDate,\r\n        c.ClientId \r\n    ) AS SettlementTat,\r\n\r\n    COALESCE(evalpsla.FirstFollowUp, evalcsla.FirstFollowUp, @DefaultFirstFollowUp) AS EvaluationSlaFirstFollowUp,\r\n    COALESCE(evalpsla.SecondFollowUp, evalcsla.SecondFollowUp, @DefaultSecondFollowUp) AS EvaluationSlaSecondFollowUp,\r\n    dbo.GetTat(\r\n        ISNULL(mc.ResubmissionDate, mc.DateSubmitted),\r\n        mc.EvaluationDate,\r\n        c.ClientId\r\n    ) AS EvaluationTat,\r\n\r\n    COALESCE(brpsla.FirstFollowUp, brcsla.FirstFollowUp, @DefaultBrokerReviewFollowUp) AS BrokerReviewSlaFirstFollowUp,\r\n    COALESCE(brpsla.SecondFollowUp, brcsla.SecondFollowUp, @DefaultBrokerReviewFollowUp) AS BrokerReviewSlaSecondFollowUp,\r\n    dbo.GetTat(\r\n        ISNULL(mc.ResubmissionDate, mc.DateSubmitted),\r\n        mc.BrokerReviewDate,\r\n        c.ClientId\r\n    ) AS BrokerReviewTat,\r\n    ISNULL(mc.IsOriginalsAwaited, 0) AS OriginalsAwaited,\r\n    mc.DateClosed,\r\n    CASE\r\n        WHEN dbo.GetTat(ISNULL(mc.ResubmissionDate, mc.DateSubmitted), mc.SettlementDate, c.ClientId) > COALESCE(settlpsla.FirstFollowUp, settlcsla.FirstFollowUp, @DefaultFirstFollowUp)\r\n        THEN CASE\r\n            WHEN dbo.GetTat(ISNULL(mc.ResubmissionDate, mc.DateSubmitted), mc.SettlementDate, c.ClientId) > COALESCE(settlpsla.SecondFollowUp, settlcsla.SecondFollowUp, @DefaultSecondFollowUp)\r\n                THEN 'Red'\r\n            ELSE 'Yellow'\r\n        END\r\n        ELSE 'Green'\r\n    END AS SLAColor,\r\n\r\n    CASE\r\n        WHEN dbo.GetTat(ISNULL(mc.ResubmissionDate, mc.DateSubmitted), mc.SettlementDate, c.ClientId) > COALESCE(settlpsla.SecondFollowUp, settlcsla.SecondFollowUp, @DefaultSecondFollowUp)\r\n            THEN 0\r\n        ELSE 1\r\n    END AS IsTransactionSLA\r\nFROM dbo.MemberPolicyCategory mpc\r\nINNER JOIN dbo.PolicyCategory pc ON mpc.PolicyCategoryId = pc.PolicyCategoryId\r\nINNER JOIN dbo.Category cat ON pc.CategoryId = cat.CategoryId\r\nINNER JOIN dbo.Policy p ON pc.PolicyId = p.PolicyId\r\nINNER JOIN dbo.MedicalClaim mc ON mpc.MemberPolicyCategoryId = mc.MemberPolicyCategoryId\r\nINNER JOIN dbo.WorkflowMedicalClaim wm ON mc.MedicalClaimId = wm.MedicalClaimId\r\nINNER JOIN dbo.Carrier cr ON p.CarrierId = cr.CarrierId\r\nINNER JOIN dbo.Client c ON p.ClientId = c.ClientId\r\nLEFT JOIN dbo.CarrierSLA settlcsla ON cr.CarrierId = settlcsla.CarrierId AND settlcsla.SLAProcessTypeId = 1  -- 1 = MedicalClaimSettlementSla\r\nLEFT JOIN dbo.PolicySLA settlpsla ON p.PolicyId = settlpsla.PolicyId AND settlpsla.SLAProcessTypeId = 1\r\nLEFT JOIN dbo.CarrierSLA evalcsla ON cr.CarrierId = evalcsla.CarrierId AND evalcsla.SLAProcessTypeId = 2  -- 2 = MedicalClaimEvaluationSla\r\nLEFT JOIN dbo.PolicySLA evalpsla ON p.PolicyId = evalpsla.PolicyId AND evalpsla.SLAProcessTypeId = 2\r\nLEFT JOIN dbo.CarrierSLA brcsla ON cr.CarrierId = brcsla.CarrierId AND brcsla.SLAProcessTypeId = 3  -- 3 = MedicalClaimBrokerReviewSla\r\nLEFT JOIN dbo.PolicySLA brpsla ON p.PolicyId = brpsla.PolicyId AND brpsla.SLAProcessTypeId = 3\r\nLEFT JOIN Workflow w ON wm.WorkflowId = w.WorkflowId\r\nWHERE mc.DateClosed IS NULL\r\nAND mc.IsDeleted = 0; ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SP_OnPremSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQLTable",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "ClaimSLA",
							"SchemaName": "dbo"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-04-15T09:35:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}