pipeline/PL_STG_Load_CDC.json
{
	"name": "PL_STG_Load_CDC",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM stg.etlControl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_MetadataTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'SELECT * FROM [',\n    item().TableName,\n    '] WHERE CreatedOn > ''',\n    item().LastLoadTime,\n    ''' OR UpdatedOn > ''',\n    item().LastLoadTime,\n    ''''\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OnPremSQLTable",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_AzureSQLTable",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"SchemaName": "stg"
									}
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_AzureSQLDB",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "UPDATE stg.etlControl\nSET LastLoadTime = GETUTCDATE()\nWHERE TableName = '@{item().TableName}'\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Load Sp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[dbo].[RevenueReport_Get]",
						"storedProcedureParameters": {
							"DefaultCurrencyId": {
								"type": "Int32",
								"value": "1"
							},
							"LanguageId": {
								"type": "Int32",
								"value": "1"
							},
							"UserId": {
								"type": "Int32",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ClientName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ClientName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EGlobalCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EGlobalCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CategoryName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CategoryName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolicyId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PolicyId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PolicyName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PolicyName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolicyNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PolicyNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolicyTypeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PolicyTypeId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Carrier",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Carrier",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PlanId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PlanId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Product",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Premium",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "Premium",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 38
								},
								"sink": {
									"name": "Commission",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 7,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Fee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 14,
									"precision": 28
								},
								"sink": {
									"name": "Fee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 14,
									"precision": 28
								}
							},
							{
								"source": {
									"name": "ClientFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "ClientFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "MembersCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "MembersCount",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ActiveMembers",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ActiveMembers",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ActiveEmployes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ActiveEmployes",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "DeletedEmployes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DeletedEmployes",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "TotalBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								},
								"sink": {
									"name": "TotalBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "ClientSince",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "ClientSince",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CarrierBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 20
								},
								"sink": {
									"name": "CarrierBasmahFee",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 20
								}
							},
							{
								"source": {
									"name": "PolicyStartDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PolicyStartDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PolicyEndDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PolicyEndDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "CommissionPercent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								},
								"sink": {
									"name": "CommissionPercent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 6
								}
							},
							{
								"source": {
									"name": "BaseCurrency",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "BaseCurrency",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "BaseCurrencyName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "BaseCurrencyName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MainAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MainAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SecondaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SecondaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TertiaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TertiaryAccountManager",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PolcyStateTypeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PolcyStateTypeId",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SP_OnPremSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQLTable",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "spPolicy",
							"SchemaName": "stg"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-04-15T09:35:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}